@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap%27');

*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

html{
    font-family: Spartan;
}

.box-1{
    font-family: Spartan;
    width: 100%;
    height: 50vh;
    font-size: 10px;
    display: flex;
    margin-left: 20px;
   
    
}

.content-1{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.big-text{
    margin-top: 40px;
    margin-left:15px; 
    font-size:30px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    line-height: 35px;

}
.count{
    display: flex;
}
.count-size{
    font-size:40px ;
}
.our{
    margin-top: 5px;
}

.small-text{
    margin-top: 20px;
    margin-left:15px;
    font-size: 15px;
    color:  hsl(303, 10%, 53%);
    font-weight: 300;
    line-height: 25px;
}

.content-2{
    width: 50%;
    display: flex;
    display: flex;
    flex-direction: column;
    
    font-weight: 300;
}
.rating{
    width: 75%;
    height: 8vh;
    display: flex;
    justify-content: center;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 11px;
}
.rating:nth-of-type(1){
    margin-top: 65px;
}
.rating:nth-of-type(2){
    margin-top: 3px;
    margin-left: 11%;
}

.rating:nth-of-type(3){
    margin-top: 3px;
    margin-left: 22%;
}

.star{
    width: 15px;
}

.image-1{
    /* margin-left:5px; */
    margin-top:15px;
}
.text-1{
    font-weight: 700;
    width: 100%;
    justify-content: flex-start;
    margin-top: 17px;
    margin-left:20px;
    color:  hsl(300, 43%, 22%);
}

.image-2{
    /* margin-left:5px; */
    margin-top: 15px;
}
.image-1:nth-of-type(1){
    margin-left: 20px;
}
.image-2:nth-of-type(1){
    margin-left: 20px;
}
.text-2{
    font-weight: 700;
    width: 100%;
    justify-content: flex-start;
    margin-top: 17px;
    margin-left:20px;
    color:  hsl(300, 43%, 22%);
}

.image-3{
    margin-left:5px;
    margin-top:15px;
}
.image-3:nth-of-type(1){
    margin-left: 20px;
}
.text-3{
    font-weight: 700;
    width: 100%;
    justify-content: flex-start;
    margin-top: 17px;
    margin-left:20px;
    color:  hsl(300, 43%, 22%);
}

.box-2{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 25px;
}

.box-2:nth-of-type(2){
    margin-top: 30px;
}

.profile-content-1{
    margin-left: 15px;
}
/* .block-1,.block-2,.block-3{
    display: flex;
    margin-top: 20px;
} */

.profile-content-2{
    margin-left: 15px;
    margin-top:20px;
}

.profile-content-3{
    margin-left:15px;
    margin-right: 20px;
    margin-top:40px;
    
}

.profile-content-1,.profile-content-2,.profile-content-3{
    background-color: hsl(300, 43%, 22%);
    width:33.33%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    height: 40vh;
}

.profile{
    display: flex;
}

.image{
    width: 50px;
    height: 50px;
    border-radius:25px;
}
.name{
    margin-left:15px;
}
.gap:nth-of-type(2){
    color: hsl(333, 80%, 67%);
    font-weight: 300;
}

.profile-text{
    margin-top: 20px;
}